@page "/"
@inherits DotnetBlayer.pages.IndexBase;
@using bla.BlazorShared.Components
@using bla.Monaco
@using Blazaco.Editor
@using Blazaco.Editor.Options

<div style="height:100vh; width: 100vw;">

  <GridLayout Areas=@CurrentLayout.Area
              Rows=@CurrentLayout.Rows
              Columns=@CurrentLayout.Columns>
    <GridArea Area="top">



      <div style="
                                                                                                         text-align: center;
                                                                                                       ">
        <button @onclick="EvalSel">Eval Selection</button>
        <button @onclick="ToggleEditor">Toggle Editor</button>
        <button @onclick="(_) => Editor.Layout()">Layout</button>
        <button @onclick="ToogleFullScreen">
          @(IsFullScreen ? "Close" : "Fullscreen")
        </button>
        <button style="width:200px" class="btn btn-success" @onchange="Run" @onclick="Run">Run</button>
      </div>

    </GridArea>
    <GridArea Area="edit">
      <Editor @ref="@(Editor)"></Editor>
    </GridArea>
    <GridArea Area="ui" Scrollable="true">
      <BlayerToolRenderer Tool="@Tool"></BlayerToolRenderer>
    </GridArea>
    <GridArea Area="cout" Scrollable="true">

      <div style="padding:6px;line-height: 1.0; font-size:0.9rem">


        @foreach (var res in Results)
        {
          var id = res == LastResult ? "lastCout" : "";
          <p id="@id" style="margin: 0px">
            @res.Text
          </p>

        }
      </div>

    </GridArea>
    <GridArea Area="cin">
      <input @onkeydown="CinKeyDown" style="width:100%;" bind-value-oninput="@Code" />
    </GridArea>
    <GridArea Area="vars" Scrollable="true">
      @if (AllVariables != null)
      {
        foreach (var v in AllVariables)
        {
          @v.Name <text>:</text> @v.Value
          <br />
        }
      }

    </GridArea>


  </GridLayout>

</div>






